.img_fond{
    position: absolute;
    height: 80%;
    width: 100%;
}

.position_text{
    color: #000;
    text-align: center;
}

.bienvenue{
    font-size: 130%;

    padding: 2%;
}

.bienvenue2{
    font-size: 130%;
    padding-bottom: 2%;
}

.fond_gris{
    opacity: 0.9999999;
    background-color: rgba(255, 255, 255,1);
}

.titre1{
    text-align: center;
    font-size: 200%;
padding: 3%;
}

.accueil_logo{
    font-size: 700%;
    width: 100%;
    text-align: center;
    background-color: rgba(191, 255, 245,1);
    padding: 10%;
    box-shadow: 1px 1px 12px #555;
}


.balise_button{
    text-decoration: none;
    color: black;
}

.balise_button:hover{
    color: rgba(0,186,174);

}

.logo_text{
    font-size: 140%;
    margin-top: 5%;
    padding: 0;
    text-align: center;
    box-shadow: 1px 1px 12px #555;
}


.ecart_avec_titre{

}
